#recaptcha_widget.contact{:style => "display:none"}
  #recaptcha_head
    .row-fluid
      .span46
        #recaptcha_image
      .span5
        %div
          %a{:href => "javascript:Recaptcha.reload()"}= image_tag('recaptcha_refresh.png')
        -#.recaptcha_only_if_image
        -#  %a{:href => "javascript:Recaptcha.switch_type('audio')"}= image_tag('recaptcha_audio.png')
        .recaptcha_only_if_audio
          %a{:href => "javascript:Recaptcha.switch_type('image')"} Get an image CAPTCHA
        %div
          %a{:href => "javascript:Recaptcha.showhelp()"}= image_tag('recaptcha_help.png')
        %span.recaptcha_only_if_image
        %span.recaptcha_only_if_audio Enter the numbers you hear:
  %input#recaptcha_response_field{:name => "recaptcha_response_field", :type => "hidden", :placeholder => I18n.t('register.form.prompt.recaptcha')}


%script{:src => "http://www.google.com/recaptcha/api/challenge?k=6Lcjpt0SAAAAAHdTGNGkn9XDewW7GdLXXtIi4u2s", :type => "text/javascript"}
%noscript
  %iframe{:frameborder => "0", :height => "300", :src => "http://www.google.com/recaptcha/api/noscript?k6Lcjpt0SAAAAAHdTGNGkn9XDewW7GdLXXtIi4u2s", :width => "100"}
  %br/
  %textarea{:cols => "40", :name => "recaptcha_challenge_field", :rows => "3"}
    :preserve
      %input{:name => "recaptcha_response_field", :type => "hidden", :value => "manual_challenge"}/