#challenges_header
  h1
    font-size: 25px
    color:  #e51937
    font-weight: normal

#challenges_copy
  background: URL('challenge_index.jpg') no-repeat
  height:  500px
  width: 675px


#next_challenge_copy
  width: 500px
  margin-left: 21px
  padding-top: 100px
  margin-bottom: 200px
  p
    margin-top:  0px
    margin-bottom: 10px
  h2
    font-size: 47px
    line-height: 47px
    margin:  0px
    color:  #043C82

#progress_chart
  margin-left: 43px
  height:  550px
  width:  240px
  background: URL('steps_background.png') no-repeat
  padding-top: 40px

#step_one, #step_two, #step_three, #step_four, #step_five, #step_six
  margin-bottom: 8px

.shield
  width:  64px
  height:  47px
  text-align:  center
  font-size:  40px
  color:  #FFF
  text-shadow: 1px 1px 2px #222
  padding-top: 23px
.active .shield
  background: URL('shield_active.png')

.inactive .shield
  background:  URL('shield_inactive.png')

.completed .shield
  background:  URL('shield_completed.png')
