#challenges_header h1
  margin-top:  0px
  margin-bottom: 10px
#challenges_copy
  background: URL('challenge_index.jpg') no-repeat
  height:  500px
  width: 675px

#next_challenge_copy
  width: 500px
  margin-left: 21px
  padding-top: 120px
  margin-bottom: 200px
  p
    margin-top:  0px
    margin-bottom: 10px
  h2
    line-height: 47px
    margin:  0px

#next_challenge_copy.completed
  padding-top: 20px
  #tagline
    color: #013a81
    font-family: 'Gotham-Bold'
    font-size: 16px
  h2 p
    font-size: 54px
    line-height: 48px
    margin-top: 10px
    span
      margin-bottom: 20px
      font-size: 20px
      vertical-align: text-top
  #galaxy_tab
    margin-left: -20px
    margin-top: -24px
  #landing_prizes
    margin-top: 10px
    margin-left: -20px
  #challenge_tagline
    font-size: 18px
    margin-top: 40px
    margin-left: -20px
    width: 620px
  .landing_prizes_copy p
    font-size:  11px

#social_share
  background: URL('bay_card_share.png') no-repeat 65px 35px
  height: 162px
  width:  225px

#email_share_dialogue
  background: URL('email_share_background.png') no-repeat
  position: fixed
  top: 15%
  left:  50%
  z-index: 20
  margin-left: -473px
  height:  427px
  width:  945px
  input[type=text]
    width: 294px
    margin-right: 13px
    border:  2px solid #CCCCCC
    +border-radius(3px)
    font-family: 'Gotham-Medium'
    font-size: 12px
    padding: 8px
  .field
    float: left
    display: inline-block
    width:  325px
  textarea
    width: 630px
    height:  115px
    border: 2px solid #CCCCCC
    +border-radius(3px)
    margin-top: 10px
    resize: none
#share_submit, #share_cancel, #share_facebook_page
  background: URL('share_button.png') no-repeat
  -webkit-appearance: none
  -moz-appearance: none
  text-align: center
  color: #FFFFFF
  border:  none
  width: 310px
  height: 30px
  float: left
  margin-right: 17px
  margin-top: 15px
  display: inline
  font-family: 'Gotham-Bold'
  line-height: 30px

#share_submit:hover, #share_cancel:hover, #share_facebook_page:hover
  background: URL('share_button.png') no-repeat 0px -31px

.hidden
  display: none

#email_share_header
  margin-top: 47px
  margin-bottom: 12px
  font-family: 'Gibson-Semibold'
  font-size: 40px
  color: #013a81

#email_share_header.thank_you
  margin-top: 50px

#email_share_copy
  font-size: 16px
  line-height: 18px

#email_share_copy.thank_you
  line-height: 22px
  p b
    font-family: 'Gotham-Bold'
    font-size:  16px

#milk_share
  position: fixed
  z-index: 21
  top: 15%
  left:  50%
  width:  260px
  margin-left: 240px
  margin-top: -42px
.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 15
  background-color: #000000
  // Fade for backdrop
  &.fade
    opacity: 0

.modal-backdrop,
.modal-backdrop.fade.in
  @include opacity(80)

#progress_chart
  margin-left: 43px
  height:  550px
  width:  240px
  background: URL('steps_background.png') no-repeat
  padding-top: 40px

#step_one, #step_two, #step_three, #step_four, #step_five, #step_six
  margin-bottom: 8px

.shield
  width:  64px
  height:  47px
  text-align:  center
  padding-top: 23px
.active .shield
  background: URL('shield_active.png')

.inactive .shield
  background:  URL('shield_inactive.png')

.completed .shield
  background:  URL('shield_completed.png')

.challenge_container
  height: 750px

#challenge_intro_copy
  margin-top: 406px
  margin-left: 22px
  a
    text-decoration:  none
  h2 p, h2
    margin:  0px
    margin-top: 2px
    line-height: 48px


#challenge_one_container
  background: URL('challenge_one.jpg') no-repeat

#challenge_two_container
  background: URL('challenge_two.jpg') no-repeat

#challenge_three_container
  background: URL('challenge_three.jpg') no-repeat

#challenge_four_container
  background: URL('challenge_four.jpg') no-repeat

#challenge_five_container
  background: URL('challenge_five.jpg') no-repeat

#challenge_six_container
  background: URL('challenge_six.jpg') no-repeat

#challenge_two_container
  #challenge_intro_copy
    margin-top: 322px

#game_play
  width: 720px

#game_note
  width: 210px

#game_play, #game_note
  margin-top: 75px
  float: left


#start_challenge_button
  text-align:  center
  line-height: 30px
  background:  URL('challenge_start_button.png') no-repeat
  margin-top: 5px
  height: 30px
  width: 311px

#start_challenge_button:hover
  background:  URL('challenge_start_button.png') no-repeat 0px -30px
  line-height: 31px

#play_container
  height:  750px

#main_wide_container.play
  margin-top: 0px