//FOOTER

#footer
  list-style: none
  margin:  0px
  padding:  0px
#footer li
  float: left
  margin-left: 0px
  padding: 0px 9px 0px 9px
  border-width: 0px 1px 0px 0px
  border-color:  #CCCCCC
  border-style:  solid
  height: 14px
  vertical-align: middle
  line-height: 14px

#footer li.left
  padding-left: 0px
#footer li.right
  border:  0px

ul#footer, #footer_notes
  font-size: 11px
  color:  #CCCCCC
  a
    color:  #CCCCCC
    font: 'Gotham Book', Gotham-Book, Arial, sans-serif
    font-size:  11px
  display: block
  float: left

#footer_notes
  margin-bottom: 20px

#logo
  margin-left: 7px
  margin-top: -15px