//LOGIN

#login
  margin-left: -8px
  background: URL('ribbon.png') no-repeat
  height:  175px
  input[type=text], input[type=password]
    margin-top: 2px
    margin-bottom: 5px
  input[type=submit]
    display: block
    width:  208px
    height: 26px
    -webkit-appearance: none
    -moz-appearance: none
    background: URL('password_reset_button.png')
    border:  none
  a
    text-align: center

#login.reset
  background:  URL('ribbon_reset.png') no-repeat
  height: 230px
  position: fixed
  a
    color: #FFFF99
    margin-left: 65px
#login_reset_instructions
  line-height: 12px
  width: 220px
  margin-bottom: 10px
  margin-top: 10px
  p
    margin-top: 0px
    margin-bottom: 4px
    text-align: center
    color: #ffff99

#login_form
  margin-left: 22px

#login_header
  text-align: center
  width:  210px
  margin-left: -5px
  margin-top: 13px
  margin-bottom: 2px
  text-shadow: 1px 1px 1px #000000

#login_header.forgotten
  font-size:  15px

#login_links
  float: left
  margin-left: 15px
  margin-top: 2px

input[type=text], input[type=password]
  -webkit-appearance: none
  -moz-appearance: none
  border: 1px solid #CCCCCC
  width: 195px
  padding: 5px 5px 5px 5px
  margin-bottom: 3px !important
  +border-radius(2px)
  float: left

#login_submit_button
  display: none
  visibility: hidden
  position: absolute

#current_user
  text-align: center
  width:  218px

#logout_link
  margin-left: 74px