#registration
  .field
    margin-bottom: 10px
    height: 50px

  #left, #right
    float: left
    width:  330px
  select
    -webkit-appearance: none
    border:  1px solid #CCCCCC
    padding: 7px
    +border-radius(3px)
    width:  315px
    background: URL('select_arrow.jpg') no-repeat 290px
  #mini
    float: left
    width: 150px
    .field.mini.select
      margin-left: 40px
    select
      width:  120px
      -webkit-appearance: none
      background: URL('select_arrow.jpg') no-repeat 97px
  input[type=text], input[type=password]
    padding:  7px
    width: 298px
    +border-radius(3px)
  .field_with_errors
    display: inline
  #full
    width: 635px
    input[type=text]
      width: 628px
  .radio
    margin-top: 4px
    display: inline-block
  .radio_label
    margin-right: 12px
    margin-left: 2px
    height: 12px
    padding-top: 0px
    display: inline-block
  .checkbox
    float: left
    width:  15px
  .label
    float: left
    width: 310px
    line-height: 16px
    margin-left: 2px
    p
      margin-top: 3px
      margin-bottom: 0px
  input[type="checkbox"]
    -webkit-appearance: radio
    -moz-appearance: radio
    -ms-appearance: radio     /* not currently supported */
    -o-appearance: radio      /* not currently supported */
  input[type=submit]
    width: 311px
    height: 31px
    margin-top: 14px
    padding: 4px
    -webkit-appearance: none
    -moz-appearance: none
    background: URL('sign_up_button.png')
    border: none
  input[type=submit]:hover
    background: URL('sign_up_button.png') 0px -31px no-repeat
  #recaptcha_widget
    width: 312px

  #recaptcha_response_field
    margin-top: 8px

#confirmation_copy.sign_up_thank_you
  h2 p
    font-size: 42px
    margin-bottom: 25px
  p
    font-size:  17px
    line-height: 20px
    margin-bottom: 10px
  #back_to_home_button
    margin-left: 20px


//RESET THANK YOU

#reset_header h1
  color: #e51937
  font-size: 24px
  font-family: 'Gotham-Medium'
  margin-bottom: 10px
  margin-top: 0px

#reset_container
  background: URL('get_started.jpg') no-repeat -48px 0px
  height: 395px
  h1
    margin-top: 0px
    padding-top: 95px
    margin-left: 20px
    font-family: 'Gibson-SemiBold'
    color: #013a81
    font-size: 47px
  #back_to_home_button
    margin-left: 20px

#reset_copy
  margin-left: 20px
  font-size: 16px
  color: #333333
  width: 300px